*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.page1{
    width: 100%;
    height: 100%;
     background-image: url(https://cdn.pixabay.com/photo/2016/10/29/09/53/abstract-1780277_1280.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;

}
nav{
    display: flex;
    justify-content: space-around;
    padding: 3vh 5vh;
    height: 10%;
  
}
nav h1{
    font-size: 3vw;
    margin-right: 20vw;
}
nav .navR span{
    margin-right:3vw ;
    font-size: 1.6vw;
   
    
}
nav .navR i{
    font-size: 2vw;
    display:none;
}

.page2{
    width: 100%;
    height: 90%;
  
    text-align: center;
   
   
   
    
}
.page2 .page2Div{
    height: 100%;
  
    padding: 30vh 0;
   
 

}
.page2 .page2Div h1{
    margin-bottom: 3vh;
    font-size: 3vw;
 
}
.page2 .page2Div h1 span{
    color: rgb(223, 223, 3);
}
.page2 .page2Div p{
    font-size: 3vh;
    margin-bottom: 3vh;
    line-height: 4.5vh;
}

.page2 .page2Div i{
    font-size: 5vh;
    border-radius: 50%;
    border: 0.1vw solid  white;
    color: white;
    margin: 2vh;
    font-weight: 100; 
}

.nextp{
    width: 100%;
    height: 100%;
   background-image: url(https://cdn.pixabay.com/photo/2017/08/01/08/07/sea-2563389_1280.jpg);
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
    background-attachment: fixed;
}
.nextp h1{
    /* margin-top: 5vh; */
    margin-left: 43%;
    padding: 5vh 0;
    color: rgb(223, 223, 3);
}

.name{
    width: 60%;
    height: 55%;
    margin-left: 20%;
    display: flex;
    background-color: rgb(34, 67, 100,0.5);
    border-radius: 2vh;


}
.name .nameL{
    width: 40%;
    height: 100%;
  
}
.name .nameL img{
    height: 100%;
    width: 90%;    
}

.name .nameR{
    width: 60%;
    

}
.name .nameR h1{
    margin-left: 0;
    margin-top: 1vh;
    margin-bottom: 2vh;
    color: white;
    padding: 0;
    font-weight: 100;
}
.name .nameR h4{
    margin-bottom: 1vh;
    font-size: 1.5vw;
    color: orange;

}
.name .nameR p{
    margin-bottom: 4vh;
    color: rgb(163, 156, 156);
    font-weight: 100;

}
.nameR-in{
    width: 100%;
    height: 30%;
    margin-bottom: 4vh;
}
.nameR-in .r-in2{
    /* margin: 2vh; */
    display: flex;
    margin-top: 1vh;
    
}

.nameR-in .r-in2 h4{
    font-size: 2.2vh;
    color: rgb(0, 0, 0);
    margin-left: 3vw;
    font-weight: 100;
   
}
.nameR button{
    width: 13vw;
    height: 5vh;
    margin-left: 20vh;
    margin-top: 4vh;
    border-radius: 2vh;
    border: none;
    font-size: 1.7vw;
   
}

